In [13]:
import ssbkonf as ssb

R[write to console]: Installing package into 'C:/Users/dlu/AppData/Local/R/win-library/4.2'
(as 'lib' is unspecified)

R[write to console]: also installing the dependency 'SSBtools'


R[write to console]: trying URL 'https://cloud.r-project.org/bin/windows/contrib/4.2/SSBtools_1.4.8.zip'

R[write to console]: Content type 'application/zip'
R[write to console]:  length 591460 bytes (577 KB)

R[write to console]: downloaded 577 KB


R[write to console]: trying URL 'https://cloud.r-project.org/bin/windows/contrib/4.2/GaussSuppression_0.7.0.zip'

R[write to console]: Content type 'application/zip'
R[write to console]:  length 295349 bytes (288 KB)

R[write to console]: downloaded 288 KB

package 'SSBtools' successfully unpacked and MD5 sums checked
package 'GaussSuppression' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\dlu\AppData\Local\Temp\RtmpIP8oBm\downloaded_packages

The package contains some basic functionality from the SSBtools R package, such as some example data sets and automatically detecting hierarchical relationships in data sets.

In [3]:
data = ssb.example_data("mun_accidents")
hiers = ssb.util.find_hierarchies(data.loc[:,["mun", "inj"]])

## Suppression
The `suppress` submodule contains the following functions for suppressing tables:
- `suppress_small_counts`: a function for primary and secondary suppression of small counts in frequency tables
- `suppress_few_contributors`: a function for primary and secondary suppression of cells with few contributors in magnitude tables
- `suppress_dominant_cells`: a function for primary and secondary suppression of dominant cells in magnitude tables.

Tables can be defined using `dim_var`, `formula`, or `hierarchies`. I suggest looking at the vignette "defining tables" in the R package GaussSuppression for examples of how these can be used.

In [4]:
ssb.suppress.suppress_small_counts(data, max_n = 3, freq_var = "freq", dim_var = ["mun", "inj"]).head()

[extend0 24*3->24*3]
GaussSuppression_anySum: .............

     mun      inj  freq  primary  suppressed
1  Total    Total  32.0    False       False
2  Total    light   3.0     True        True
3  Total     none   6.0    False       False
4  Total  serious  23.0    False       False
5  Total  unknown   0.0     True        True

In [5]:
ssb.suppress.suppress_small_counts(data, max_n = 3, freq_var = "freq", hierarchies = hiers).head()

[extend0 24*3->24

*3]
GaussSuppression_anySum: .............

     mun      inj  freq  primary  suppressed
1  Total    Total  32.0    False       False
2  Total    light   3.0     True        True
3  Total     none   6.0    False       False
4  Total  serious  23.0    False       False
5  Total  unknown   0.0     True        True

In [6]:
ssb.suppress.suppress_small_counts(data, max_n = 3, freq_var = "freq", formula  = "~mun+inj")

[extend0 24*3->

24*3]
GaussSuppression_anySum: ........

      mun      inj  freq  primary  suppressed
1   Total    Total  32.0    False       False
2      k1    Total   4.0    False        True
3      k2    Total   6.0    False       False
4      k3    Total   6.0    False       False
5      k4    Total   9.0    False       False
6      k5    Total   1.0     True        True
7      k6    Total   6.0    False       False
8   Total    light   3.0     True        True
9   Total     none   6.0    False       False
10  Total  serious  23.0    False       False
11  Total  unknown   0.0     True        True

## Perturbation

The `perturb` submodule currently contains only one function for perturbing frequency tables:
- `small_count_rounding`: a function for applying the small count rounding algorithm to frequency tables.

It takes the same interface consisting of `dim_var`, `formula`, and `hierarchies` for table definitions. Future versions of `ssbkonf` will support cell-key perturbation as well.

In [7]:
ssb.perturb.small_count_rounding(data = data, dim_var =["mun", "inj"])["inner"].head()

  mun      inj  original  rounded  difference
1  k1  serious         4        4           0
2  k2  serious         5        5           0
3  k3  serious         3        3           0
4  k4  serious         4        4           0
5  k5  serious         1        0          -1

In [8]:
ssb.perturb.small_count_rounding(data = data, hierarchies = hiers)["publish"].head()

     mun      inj  original  rounded  difference
1  Total    Total      32.0     32.0         0.0
2  Total    light       3.0      3.0         0.0
3  Total     none       6.0      7.0         1.0
4  Total  serious      23.0     22.0        -1.0
5  Total  unknown       0.0      0.0         0.0

In [9]:
ssb.perturb.small_count_rounding(data = data, formula = "~mun+inj")["publish"]

      mun      inj  original  rounded  difference
1   Total    Total      32.0     31.0        -1.0
2      k1    Total       4.0      4.0         0.0
3      k2    Total       6.0      6.0         0.0
4      k3    Total       6.0      6.0         0.0
5      k4    Total       9.0      9.0         0.0
6      k5    Total       1.0      0.0        -1.0
7      k6    Total       6.0      6.0         0.0
8   Total    light       3.0      3.0         0.0
9   Total     none       6.0      6.0         0.0
10  Total  serious      23.0     22.0        -1.0
11  Total  unknown       0.0      0.0         0.0